 @media only screen and (min-width:480px){
#banner {
    padding-top: 4em;
   
   
     
    padding-bottom: 3em;
   
  
}
#banner .title .byline {
    font-size: 18px;}

    .title h2 {
    font-size: 1.8em;
  
   
}
.contant-img {
    
    height: 288px;
     
    width: 424px;
    margin: 0 auto;
}
.section {
    padding: 50px 0;

 } 
}



 @media only screen and (min-width:640px){


#banner {
    padding-top: 7em;
    padding-bottom: 6em;padding-right:18%;
}

  #banner .title h2 {
    font-size: 2em;  
 }
.title h2 {
     font-size: 2em;
    text-align: center;
}
#howitworks .title h2{text-align: left;}
.contant-box ul li {
    padding-bottom: 16px;
    line-height: 23px;
    font-size: 16px;
}
#slides {
    
    width: 70%;
   
}.actions .button {
    width: inherit;
}
}

 @media only screen and (min-width:768px){

ul.submenu {
    max-height: 64px;
    padding: 0;
    overflow: visible;
    list-style-type: none;
    background: transparent;
    box-shadow: unset;
    transition: max-height 0.5s ease-out;
    float: right;
    display: inline-block;
    transition: all .1s ease-in;
    position: unset;
    min-width: inherit;
}

 
ul.submenu li a {
    color: #000;
    box-shadow: unset;
    font-size: 16px;
    padding: 19px 18px;transition: all .1s ease-in;
}

#header ul.submenu li a:hover {
    background: transparent;
    color: #a81d35;
}
.mobile-menu {
    display: inline-block;
    float: right;
    position: inherit;
    width: 53%;
}
 .mobile-menu li{ display: inline-block;
    float: left;
}
#header label{display: none;}
#desktop-menu{display: block;}

 
#desktop-menu li a, #desktop-menu li span {
    padding: 0 16px;
   
    font-size: 16px;
   
}

#logo img {
    width: 140px;
    padding-top: 3px;
}
#desktop-menu {
    display: inline-block;
    float: right;
    padding: 19px 0 0;
}
    }

    @media only screen and (min-width:980px){

#three-column {
    text-align: right;
    color: rgba(0, 0, 0, 0.6);
    overflow-x: auto;
}
.contant-box {
   
    width: 50%;
     
}#howitworks.section {
    padding: 80px 0;
    
}
.contant-img {
    height: 288px;
    width: 49%;
    margin: 0 auto;
    float: right;
    clear: none;
    position: absolute;
    top: -91px;
    right: -43px;
}.contact-us .left, .contact-us .right {
    display: inline-block;
    width: 48.5%;
    padding: 0 8px;
} 

.section {
    padding: 80px 0;
}

    }

 @media only screen and (min-width:1024px){
#logo {
  
    padding-left: 0;
}
    .container{width:990px;}

#banner {
    padding-top: 11em;
    padding-bottom: 10em;
    padding-right: 28%;
    padding-left: 12%;
}
#banner .title h2 {
    font-size: 2.4em;
}.actions .button {
    margin-top: 0em;
    padding: 16px 29px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid #650918;
    width: 100%;
    text-align: center;
}
.actions .button:hover {
     background: #000;
    font-size: 16px;
    border-bottom: 2px solid transparent;
}

.contact-us form {
    width: 659px;
}
}


 @media only screen and (min-width:1200px){

    .container{width:1140px;}
#banner .title h2 {
    font-size: 3em;
}

}
